@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'open sans', sans-serif;
    font-weight: 300;
    color: #fafafa;
    background-color: #112326;
}

h1 {
    text-transform: uppercase;
    font-family: 'abril fatface', sans-serif;

}

h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

nav a:hover {
    border-bottom: 1px solid #f2f2f2;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 50%;

    margin: 0 auto;
}

textarea {
    resize: none;
}

/* logo and header */

.logo-container {
    text-align: center;
}

.logo-img {
    width: 150px;
}

/* nav bar */

.menu li {
    float: left;
    list-style-type: none;
    margin: 0 35px;
}

.menu {
    color: #f2f2f2;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 15px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* bar background */

#bar-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#bar-image {
    height: 800px;
    width: 100%;
    background: url('../images/dbinside9.jpg') no-repeat center center;
    opacity: 85%;
    position: relative;
}

#bar-text {
    width: 300px;
    height: 250px;
    background-color: rgba(17, 35, 38, 0.5);
    padding: 20px;
    top: 30px;
    left: 50px;
    position: absolute;
}

/* Events Section */

#events {
    width: 100%;
    height: 500px;
    background-color: rgba(245, 217, 68, 0.2);

}

#events-text {
    padding: 20px;
    text-align: center;
}

.whatson-text {
    display: inline;
    width: 25px;
    height: 25px;
}

.event-img {
    width: 250px;
}

/* Gallery photos */

.gallery {
    display: flex;
    padding: 0;
    transition: .3s;
}

.gallery:hover .gallery-image {
    filter: grayscale(1);
}

.gallery-column {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.gallery-image {
    display: block;
    width: 100%;
    transition: .2s;
}

/* opening times and conact info */

.opening-contact-container {
    float: left;
    width: 100%;
}

.opening-contact-child {
    float: left;
    background-color: rgba(245, 217, 68, 0.2);
    border-radius: 5px;
    padding: 25px;
    margin: 30px;
}

/* Footer */

.social-copyright {
    text-align: center;
    margin: 30px;
}

.social>li {
    padding: 0 50px;
    display: inline;
}

.social i {
    font-size: 200%;
}

.copyright {
    margin: 15px 0;
}

/* Drinks page content */

.drinks-menu {
    text-align: center;
    margin: 0 auto;
}

.drinks-menu-container table {
    text-align:left;
    letter-spacing: 1px;
    width: 50%;
    margin: 0 auto;
}

.drinks-menu-container #price {
    text-align: right;
}

.drinks-img-left {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    left: 25px;
    position: absolute;
}

.drinks-img-right {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    right: 25px;
    position: absolute;

}

.drinks-menu-container h5 {
    font-style: italic;
}

/* Bookings page */

.booking-form {
    width: 50%;
    background-color: rgba(245, 217, 68, 0.5);
    padding: 25px;
    top: 30px;
    left: 100px;
    position: absolute;
}

.booking-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.booking-image {
    height: 800px;
    width: 100%;
    background: url('../images/DBbackground.jpg') no-repeat center center;
}

.booking-text-box {
    font-family: 'open sans', sans-serif;
    border: 0;
    border-radius: 2px;
    width: 275px;
    height: 25px;
    margin-top: 25px;
    padding-left: 5px;
}

#day-select,
#time-select {
    width: 200px;
    height: 25px;
    margin: 25px 0;
}

.booking-button {
    margin-top: 25px;
    border: #F2F2F2 1px solid;
    border-radius: 2px;
    padding: 12px 30px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    color: #fafafa;
}

.booking-button:hover {
    background-color: #f2f2f2;
    color: #112326;

}

/* Contact page content */

#your-message {
    font-family: 'open sans', sans-serif;
    padding-left: 5px;
}

.contact-container {
    background-color: rgba(245, 217, 68, 0.2);
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 25px;
}

.contact-form {
    padding: 25px;
}

.contact-form-text {
    font-family: 'open sans', sans-serif;
    width: 300px;
    height: 25px;
    margin-bottom: 25px;
    padding-left: 5px;
}

.contact-button {
    border: #F2F2F2 1px solid;
    border-radius: 2px;
    margin-top: 25px;
    padding: 12px 30px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    color: #fafafa;
}

.contact-button:hover {
    background-color: #f2f2f2;
    color: black;
}

/* Media Queries responsive code */

@media screen and (max-width: 450px) {

    /* nav bar */
    .menu {
        font-size: 97%;
        letter-spacing: 2px;
    }
    .menu li {
        margin: 0 10px;
    }
    /* text box on home page */
    #bar-text {
        left: 0;
        width: 95%;
    }

    /* bookings page form */
    .booking-form {
        left: 25px;
        width: 275px;
    }

}

@media screen and (max-width: 950px) {

    /* booking form on bookings page */


    .drinks-menu-container {
        text-align: center;
        margin: 0 auto;
    }

}

@media screen and (max-width: 1450px) {

    .drinks-img-right {
        left: 15px;
        position: relative;
    }

    .drinks-img-left {
        left: 10px;
        position: relative;
    }

}