@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: open sans, sans-serif;
    font-weight: 300;
    color: #fafafa;
    background-color: #112326;
}

/* logo and header */

.container {
    text-align: center;
}

#logo {
    font-family: abril fatface, sans-serif;
    font-size: 250%;
}

h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

/* nav bar */

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

.menu {
    color: #f2f2f2;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px;
}

nav a:hover {
    border-bottom: 1px solid #f2f2f2;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* bar background */

#bar-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#bar-image {
    height: 600%;
    width: 100%;
    background: url('../images/DBbackground.jpg') no-repeat;
}